@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background-principal: #F3F5FC;
    --color-section-ingreso-info: #495057;
    --color-section-ingreso: #0A3871;
    --color-section-ingreso-button: white;
    --color-section-salida: #343A40;
    --background-section-salida: white;
    --background-section-ingreso-button-claro: #D8DFE8;
    --background-section-ingreso-button-claro-hover: white;
    --background-section-ingreso-button-oscuro: #052051;
    --background-section-ingreso-button-oscuro-hover: #0A3871;
    --background-footer: #343A40;
    --background-footer-hover: #609ED4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--background-principal);
}
main{
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    grid-column-gap: 5rem;
    padding: 2.5rem;
    min-height: 100vh;
}
.section_logo{
    display: flex;
    justify-content: center;
}

.section_ingreso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0 0 0;
    gap: 1rem;
}

.section_ingreso textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.9rem;
    background-color: transparent;
    color: var(--color-section-ingreso);
    border: none;
    resize: none;
    outline: none;
}
textarea::placeholder{
    color: var(--color-section-ingreso);
}
textarea::-webkit-scrollbar {
    width: 8px; 
}
textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-section-ingreso); 
    border-radius: 10px; 
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #356EA9; 
    cursor: pointer;
}
.section_ingreso .ingreso_info .info_container_alert{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.section_ingreso .ingreso_info .info_container_alert .info_letras{
    font-size: 16px;
    color: var(--color-section-ingreso-info);
}
.section_ingreso .ingreso_info .info_container_alert i{
    font-size: 18px;
    color: var(--color-section-ingreso-info);
}
.section_ingreso .ingreso_info .ingreso_button{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    padding: 17px 0 32px 0;
}
.section_ingreso .ingreso_info .ingreso_button .encriptar{
    background-color: var(--background-section-ingreso-button-oscuro);
    font-size: 1rem;
    width: 100%;
    color: var(--color-section-ingreso-button);
    padding: 24px;
    border-radius: 24px;
    border: none;
}
.section_ingreso .ingreso_info .ingreso_button .desencriptar{
    background-color: var(--background-section-ingreso-button-claro);
    font-size: 1rem;
    width: 100%;
    color: var(--color-section-ingreso);
    padding: 24px;
    border-radius: 24px;
    border: 2px solid var(--color-section-ingreso);
}
.section_ingreso .ingreso_info .ingreso_button .encriptar:hover{
    background-color: var(--background-section-ingreso-button-oscuro-hover);
    color: var(--color-section-ingreso-button);
    transition: 0.5s;
    cursor: pointer;
}
.section_ingreso .ingreso_info .ingreso_button .desencriptar:hover{
    background-color: var(--background-section-ingreso-button-claro-hover);
    color: var(--background-section-ingreso-button-oscuro-hover);
    transition: 0.5s;
    cursor: pointer;
}
.section_salida{
    background-color: var(--background-section-salida);
    border-radius: 2rem;
    display: flex;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.section_salida .salida_welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.section_salida .salida_info{
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    word-wrap: break-word;
}
.section_salida .salida_welcome .salida_info h2{
    color: var(--color-section-salida);
    font-size: 1.5rem;
    
}
.section_salida .salida_welcome .salida_info p{
    color: var(--color-section-salida);
    font-size: 1rem;
}
.section_salida img{
    width: 336px;
    height: 304px;
}

.section_salida .salida_result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
.section_salida .salida_result .result_info{
    width: 100%;
    height: 100%;
}
.section_salida .salida_result .result_info .info_encriptado{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--color-section-ingreso-info);
    border: none;
    resize: none;
    outline: none;
}

.section_salida .salida_result .result_info .info_encriptado::selection{
    background-color: var(--color-section-ingreso);
    color: var(--background-section-salida);
}
.section_salida .salida_result .result_button{
    padding: 10px 0 20px 0;
}
.section_salida .salida_result .result_button .copiar{
    background-color: var(--background-section-ingreso-button-claro);
    font-size: 1rem;
    width: 100%;
    color: var(--color-section-ingreso);
    padding: 24px;
    border-radius: 24px;
    border: 2px solid var(--color-section-ingreso);
}

.section_salida .salida_result .result_button .copiar:hover{
    background-color: var(--background-section-salida);
    color: var(--color-section-ingreso);
    cursor: pointer;
    transition: 0.5s;
}
.section_salida .activo{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-footer);
    color: var(--background-section-salida);
}
footer .container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}
footer .container_footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}
footer .container_footer ul a{
    text-decoration: none;
    color: var(--background-section-salida);

}
footer i{
    font-size: 2.5rem;
}

footer i:hover{
    cursor: pointer;
    color: var(--background-footer-hover);
}

@media (max-width: 1080px) {
    main {
        grid-template-columns: 1fr; 
        row-gap: 2rem; 
    }

    .section_logo {
        display: flex;
        justify-content: left;
    }
    .section_logo svg{
        width: 30px;
        height: 45px;
    }

    .section_ingreso {
       padding: 0;
       height: 80vh;
    }

    .section_salida {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .section_salida .salida_welcome .salida_info{
        width: 100%;
    }

    .section_salida img {
        display: none;
    }
    .section_salida .salida_result .result_info{
        height: 80vh;
    }
}

@media (max-width: 430px){
    main{
        padding: 1rem;
    }
    .section_logo{
        font-size: 2rem;
    }
    .section_logo svg{
        width: 25px;
        height: 40px;
    }
    .section_ingreso textarea{
        font-size: 1.5rem;
        padding: 10px;
    }

    .section_ingreso .ingreso_info .ingreso_button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section_salida .salida_result .result_info{
        height: 80vh;
    }
}